@model TejInfraFollowUp.Models.EmployeeRegistration

@{
    ViewBag.Title = "EmployeeRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #f5c1cb !important;
    }
</style>
<div class="main-wrapper">

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title"></h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Employee</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Employee </li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
   @using (Html.BeginForm("EmployeeRegistration", "EmployeeRegistration", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
   {

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: url(../../assets/images/big/auth-bg.jpg) no-repeat center center;min-height: 55vh;display: table-cell;">
            <div class="auth-box" style="max-width:1286px;margin:2%">
                <div id="loginform">
                    <div class="logo">

                        <p class="font-medium m-b-20" style="color:red"> @TempData["ServiceError"]</p>
                    </div>
                </div>
                <br />
              

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">User Type <span style="color: red">*</span></label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.Fk_UserTypeId, new SelectList(ViewBag.ddlUserName, "Value", "Text"), new { @class = "form-control form-control-lg", })
                                    @Html.HiddenFor(m => m.Pk_Id)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Name <span style="color: red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg", @Placeholder = "Enter Your Name" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Contact No <span style="color: red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control form-control-lg", @Placeholder = "Enter Contact No.", @onkeypress = "return isNumber(event)", @maxlength = "10" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">

                        <!--/span-->
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Email Id <span style="color: red">*</span></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control form-control-lg", @Placeholder = "Email Address", })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Address</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control form-control-lg", @Placeholder = "Address" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">File Upload</label>
                                <div class="col-md-9">

                                    <input type="file" name="postedFile" />
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    @if (Model.Pk_Id != null)
                                    {
                                        <input type="submit" value="Update " class="btn btn-success" name="btnUpdate" onclick="return validateservice();" />

                                    }
                                    else
                                    {

                                        <input type="submit" value="Save " class="btn btn-success" name="btnSave" onclick="return validateservice();" />

                                                    <a href="/EmployeeRegistration/EmployeeRegistration" class="btn btn-dark">Reset</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>



            </div>
        </div>


    }
</div>

<script>


    function isNumber(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function validateservice() {
        $(".errortext").removeClass("errortext");
        if ($('#Fk_UserTypeId').val() == '0') {
            $("#Fk_UserTypeId").addClass('errortext');
            $('#Fk_UserTypeId').focus();
            return false;
        }
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#ContactNo').val() == '') {
            $("#ContactNo").addClass('errortext');
            $('#ContactNo').focus();
            return false;
        }
        if ($('#EmailId').val() == '') {
            $("#EmailId").addClass('errortext');
            $('#EmailId').focus();
            return false;
        }
        return true;
    }

</script>

