@model TejInfraFollowUp.Models.Master

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Print Visitor</title>
    <style>
        table, th, td {
            font-size: medium;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            font-size: medium;
            padding: 5px;
        }
         .image{
    box-shadow: 0px 0px 10px 6px #fff;
    background: #fff;
 
    }
             @@media print {
            #printPageButton {
                display: none;
            }
        }
    </style>
   
</head>
<body>
    <div style="border:3px solid #19bdc5;padding-left:10px;padding-right:10px;background-color: #e6f3f3">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="../../assets/images/logotej.png" height="123" width="123" />
                </td>
                <td style="border: 0px none black;"></td>
                <td style="border: 0px none black;">
                    <h1 style="color:#326e41">Tej Infrazone Pvt. Ltd</h1>
                </td>
                <td style="border: 0px none black; padding-left:160%">
                    <button style="color:#ffffff; float:left; text-align:center; border-radius:100px; background:#a20e0e; padding: 5px; padding-right: 15px;padding-left:15px;" id="printPageButton" onclick="window.print()">Print</button>
                   </td>
            </tr>
        </table>

        @*<div>
            <h3 style="text-align:center;">Associate Copy</h3>
        </div>*@


        <table style="width:100%;background:#a20e0e;color:white">
            <tr>
                <td style="text-align:center">
                    Driver Copy
                </td>
            </tr>
        </table>

      
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Site Name : </b>@ViewBag.SiteName</td>
                <td style="border: 1px solid black;"><b>ID :    </b>@ViewBag.LoginId</td>
                <td style="border: 1px solid black;"><b>Name :    </b>@ViewBag.AssociateName</td>

            </tr>
            <tr>
                
                <td style="border: 1px solid black;"><b>Category Name : </b>@ViewBag.CategoryName</td>
                <td style="border: 1px solid black;"><b>Vehicle Details : </b>@ViewBag.VehicleDetails</td>
                <td style="border: 1px solid black;"><b>Visit Date :</b>@ViewBag.VisitDate</td>
            </tr>
            <tr>

                <td style="border: 1px solid black;"><b>PickUp Location : </b>@ViewBag.PickUpLocation</td>
                <td style="border: 1px solid black;"  colspan="2"><b>Drop Location : </b>@ViewBag.DropLocation</td>
            </tr>
            <tr>

                <td style="border: 1px solid black;"><b>PickUp Time : </b>@ViewBag.PickUpTime</td>
                <td style="border: 1px solid black;" colspan="2"><b>Drop Time : </b>@ViewBag.DropTime</td>
            </tr>
        </table>
&nbsp;&nbsp;
        <table style="width: 100%;" border="1">
            <thead>
                <tr>
                    <td><b>Sr No</b></td>
                    <td><b>Customer Name</b></td>
                    <td style="display:none"><b>Mobile No</b></td>
                    <td><b>Address</b></td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.VisitorList != null)
                    {
                        var i = 1;
                        foreach (var item in Model.VisitorList)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td style="display:none">@item.MobileNo</td>
                                <td>@item.Address</td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
        <table style="width: 100%;" class="table table-striped">

            <tbody>
                <tr>
                    <td style="text-align:left;"><b>Associate Sign.    </b></td>
                    <td style="text-align:right;margin-right:100px;"><b style="margin-right: 40px;">Auth Sign. </b></td>
                </tr>
            </tbody>
        </table>
        <p style="text-align:center">
            All Rights Reserved by Tej Infrazone Pvt. Ltd.
        </p>
    </div>
   
    <p style="text-align:center;">-----------------------------------------------------------------------------------------------------------------------------------</p>
   
    <div style="border:3px solid #19bdc5;padding-left:10px;padding-right:10px;background-color: #e6f3f3">
        <table style="border: 0px none black;">
            <tr style="border: 0px none black;">
                <td style="border: 0px none black;">
                    <img src="../../assets/images/logotej.png" height="123" width="123" />
                </td>
                <td style="border: 0px none black;"></td>
                <td style="border: 0px none black;">
                    <h1 style="color:#326e41">Tej Infrazone Pvt. Ltd</h1>
                </td>
            </tr>
        </table>

        @*<div>
            <h3 style="text-align:center;">Customer Copy</h3>
        </div>*@

        <table style="width:100%;background:#a20e0e;color:white">
            <tr>
                <td style="text-align:center">
                    Office Copy
                </td>
            </tr>
        </table>

      
        <table style="width: 100%;" class="table table-striped">
            <tr>
                <td style="border: 1px solid black;"><b>Site Name : </b>@ViewBag.SiteName</td>
                <td style="border: 1px solid black;"><b>ID :    </b>@ViewBag.LoginId</td>
                <td style="border: 1px solid black;"><b>Name :    </b>@ViewBag.AssociateName</td>

            </tr>
            <tr>

                <td style="border: 1px solid black;"><b>Category Name : </b>@ViewBag.CategoryName</td>
                <td style="border: 1px solid black;"><b>Vehicle Details : </b>@ViewBag.VehicleDetails</td>
                <td style="border: 1px solid black;"><b>Visit Date :</b>@ViewBag.VisitDate</td>
            </tr>

            <tr>
                <td style="border: 1px solid black;"><b>PickUp Location : </b>@ViewBag.PickUpLocation</td>
                <td style="border: 1px solid black;" colspan="2"><b>Drop Location : </b>@ViewBag.DropLocation</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;"><b>PickUp Time : </b>@ViewBag.PickUpTime</td>
                <td style="border: 1px solid black;" colspan="2"><b>Drop Time : </b>@ViewBag.DropTime</td>
            </tr>

        </table>
      &nbsp;&nbsp;
        <table style="width: 100%;" border="1">
            <thead>
                <tr>
                    <td><b>Sr No</b></td>
                    <td><b>Customer Name</b></td>
                    <td style="display:none"><b>Mobile No</b></td>
                    <td><b>Address</b></td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.VisitorList != null)
                    {
                        var i = 1;
                        foreach (var item in Model.VisitorList)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td style="display:none">@item.MobileNo</td>
                                <td>@item.Address</td>
                            </tr>
                            i++;
                        }
                    }
                }
            </tbody>
        </table>
      
        <table style="width: 100%;" class="table table-striped">

            <tbody>
                <tr>
                    <td style="text-align:left;"><b>Associate Sign.    </b></td>
                    <td style="text-align:right;margin-right:100px;"><b style="margin-right: 40px;">Auth Sign. </b></td>
                </tr>
            </tbody>
        </table>
        <p style="text-align:center">
            All Rights Reserved by Tej Infrazone Pvt. Ltd.
        </p>
    </div>


</body>
</html>
